.header-app{
  width: 100%;
  height: 250px;
  background-color: rgb(106, 141, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.todo-list{
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.todo-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 1.1em;
  border-radius: 8px; 
  box-shadow: -1px 0px 33px 4px rgba(199, 191, 191, 0.75);
  margin-top: 10px;
}
.done{
  background-color: greenyellow;
}

.undone {
  background-color: rosybrown;
}
.add-task{
  width: 100%;
  padding: 1.1em;
    border-radius: 8px;
    box-shadow: -1px 0px 33px 4px rgba(199, 191, 191, 0.75);
    display: flex;
   flex-direction:column;
}
.add-task > *{
  width: 100%;
  margin-top: 8px;
  padding: 8px;
}
.add-task button{
  background-color: rgb(106, 141, 236);
  padding: 1.1em;
  color: white;
  border: none;


}
.ips>*{
  width: 100%;
margin-top: 10px;
padding: 1.1 em;

}